<h1>10 Closest Electric and Propane Stations</h1>

<div class="stations">
  <% @facade.stations.each do |station| %>
    <li class="station_stat">Station name: <%= station.name %> </li>
  <% end %>
</div>
